<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
	<title>AgendamentosWeb</title>
</head>
<body>
	<h1>Agendamentos de horário</h1>
	<form method"post">
		Nome: <input type="text" value="" name"nome"/>
		Data: <input type="date" value="" data"data"/>
		Horario: <input type="text" value="" data"horario"/>
		Situacao: <input type="text" value="" data"situacao"/>
		
		<button type="submit">Salvar</button>
		
	</form>
</body>


</html>