<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
	<!--Import Google Icon Font-->
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
	<!--Import materialize.css-->
	<link type="text/css" rel="stylesheet" href="materialize/css/materialize.min.css" media="screen,projection" />

	<!--Let browser know website is optimized for mobile-->
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>AgendamentosWeb</title>
</head>

<body>

	<h1>Lista de Agendamentos</h1>
	<h3><a href="/cadastrarAgendamento" class="waves-effect waves-light btn"><i
				class="material-icons left">add_circle</i>Agendar horário</a></h3>

	<table class="container">
		<thead>
			<tr>
				<th>Nome</th>
				<th>Data</th>
				<th>Hora</th>
				<th>Situacao</th>
				<th>Cancelar</th>
			</tr>

		</thead>
		<tbody>
			<tr th:each="agendamento : ${agendamentos}">
				<td><span th:text="${agendamento.nome}"></span></td>
				<td><span th:text="${agendamento.data}"></span></td>
				<td><span th:text="${agendamento.hora}"></span></td>
				<td><span th:text="${agendamento.situacao}"></span></td>
				<td><a class="waves-effect waves-light btn-small" th:href="@{/deletarAgendamento(codigo=${agendamento.codigo})}"><i
           class="material-icons left">delete</i>Cancelar</a></td>
			</tr>
		</tbody>
	</table>
	<!--JavaScript at end of body for optimized loading-->
	<script type="text/javascript" src="materialize/js/materialize.min.js"></script>
</body>

</html>